<div class="row"  >
  <div class="col-md-12" *ngIf="on==true">
    <div class="card card-plain">
      <div class="card-header text-center d-flex justify-content-center">
        
        <div class="col-sm-5 my-1  d-flex justify-content-center">
          <input type="text" class="form-control" id="inlineFormInputName" placeholder="Buscador" name="filtroPost"
            [(ngModel)]="filtroPost">
        </div>

      </div>
      <hr />
      <div class="row text-center d-flex justify-content-center">
        <div class="form-group">
          <!-- <label for="selectEvento">Elege un evento</label> -->
          <select class="form-control" id="selectEvento" name="selectEvento" [(ngModel)]="selectEvento" (click)="infoEvento(selectEvento)" >
            <option  value =" "  selected >Elegir evento </option>
            <option *ngFor="let item of eventosTodos" [value]="item.eventoID">
              {{item.eventoTITULO}}
            </option>
          </select>
        </div>
      </div>
      <p class="text-center">{{eventoSelec.eventoTITULO|uppercase}}</p>
      <hr/>
        <div class="text-center" >
          <p class="text-center">
             <strong>Inicio: </strong>{{eventoSelec.eventoFCHINICIO|date : 'MMM d, y, h:mm a'}} 
            <strong>Final: </strong>{{eventoSelec.eventoFCHFINAL|date : 'MMM d, y, h:mm a'}}
            <strong>Lugar: </strong>{{eventoSelec.eventoLUGAR}}
           <strong *ngIf="eventoSelec.eventoUSRCREO!=null">Creado Por: </strong>{{eventoSelec.eventoUSRCREO}}
          </p>
        </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Estado_asistentente
              </th>
              <th>
                Nombre
              </th>
              <th>
                Cedula
              </th>
              
              
            </thead>
            <tbody *ngIf="eventoSelec.asistentes.length>=1">
              <tr
                *ngFor="let asistente of eventoSelec.asistentes | filtro:filtroPost| paginate: { itemsPerPage: 50, currentPage: p };let i = index">
                <td class="bg-warning text-center"  >
                  <button  class="btn btn-warning text-center" (click)="ModalcambiarEstados(asistente.eventoID,asistente.eventoAsistenteID,asistente.personaID)" ><i class="nc-icon nc-tap-01 "></i>Activar</button>
                </td>
                <td>
                  {{asistente.personaRAZONSOCIAL|titlecase}}
                </td>
                <td>
                  {{asistente.personaIDENTIFICACION}}
                </td>
                
                
               
                

              </tr>
            </tbody>

          </table>
          <pagination-controls *ngIf="eventoSelec.asistentes.length>=1  " (pageChange)="p = $event"></pagination-controls>
          <div *ngIf="eventoSelec.asistentes.length ==0 && !vacio" class=" w-100 ">
            <div class="sonar-wrapper">
              <div class="sonar-emitter">
                <div class="sonar-wave"></div>
              </div>
            </div>
          </div>
          <div *ngIf="eventoSelec.asistentes.length ==0 && vacio" class=" w-100  text-center">
            <h4>No hay campos en el momento</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="on==false && !vacio" class=" w-100 ">
    <div class="sonar-wrapper">
      <div class="sonar-emitter">
        <div class="sonar-wave"></div>
      </div>
    </div>
  </div>
  <div *ngIf="on==false && vacio" class=" w-100  text-center">
        <h4>No hay campos en el momento</h4>
  </div>
</div>
