<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <!-- <div class="card-header text-center d-flex justify-content-center">
        <button  *ngIf="estadoVisitante=='ACTIVO'" class="btn btn-sm bg-danger" (click)="filtrarPorEstadoVisitante('FINALIZADA')">VER FINALIZADAS</button>
        <button *ngIf="estadoVisitante=='FINALIZADA'" class="btn btn-sm bg-success" (click)="filtrarPorEstadoVisitante('ACTIVO')">VER ACTIVAS</button>
      </div>
      <hr /> -->
      <!-- <div class="row">
        <h5>Filtradores</h5>
      </div>
    <div class="col-md-3">
          <input type="text" class="form-control" id="inlineFormInputName" placeholder="Buscador" name="filtroPost"
            [(ngModel)]="filtroPost">
        </div> 
    -->
    <div class="row text-center d-flex justify-content-center">
      <h6 *ngIf="!activarBusqueda">Filtradores por estado  de carnet de visitas<strong *ngIf="estadoVisitante=='ACTIVO'"> ACTIVAS</strong> <strong *ngIf="estadoVisitante=='FINALIZADA'"> FINALIZADAS</strong></h6>
      <h6 *ngIf="activarBusqueda">Buscador de visitas <strong *ngIf="estadoVisitante=='ACTIVO'"> ACTIVAS</strong> <strong *ngIf="estadoVisitante=='FINALIZADA'"> FINALIZADAS</strong></h6>
    </div>
      <div class="row text-center d-flex justify-content-center">

        <div class="card-header   text-center d-flex justify-content-center">
          
        <div class="btn-group btn-group-toggle m-0 p-0 " data-toggle="buttons">
          <label class="btn btn-secondary" *ngIf="!activarBusqueda">
          <span class="badge badge-light">{{todos}}</span>
            <input type="radio" name="options" id="option1" autocomplete="off" (click)="filtrar('TODOS')" > Todos
          </label>
          <label class="btn btn-secondary" *ngIf="!activarBusqueda">
            <span class="badge badge-light">{{entregados}}</span>
            <input type="radio" name="options" id="option3" autocomplete="off" (click)="filtrar('ENTREGADO')">
            Entregados
          </label>
          <label class="btn btn-secondary" *ngIf="!activarBusqueda">
            <span class="badge badge-light">{{devueltos}}</span>
            <input type="radio" name="options" id="option2" autocomplete="off" (click)="filtrar('DEVUELTO')"> Devueltos
          </label>
          <label class="btn btn-secondary " *ngIf="activarBusqueda">
            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Buscador" name="filtroPost"
            [(ngModel)]="filtroPost">
          </label>
          <label class="btn btn-secondary bg-primary colorBlanco" *ngIf="!activarBusqueda">
            <input type="radio" name="options" id="option12" autocomplete="off" (click)="activarBuscador()"  ><i class="nc-icon nc-zoom-split "></i>
          </label>
          <label class="btn btn-secondary bg-primary colorBlanco" *ngIf="activarBusqueda">
            <input type="radio" name="options" id="option12" autocomplete="off"(click)="desactivarBuscador()"  ><i class="nc-icon nc-badge "></i>
          </label>
          <label class="btn btn-secondary bg-danger colorBlanco" *ngIf="estadoVisitante=='ACTIVO'">
            <input type="radio" name="options" id="option1" autocomplete="off" (click)="filtrarPorEstadoVisitante('FINALIZADA')" >FINALIZADAS
          </label>
          <label class="btn btn-secondary bg-success  colorBlanco" *ngIf="estadoVisitante=='FINALIZADA'" >
            <input type="radio" name="options" id="option1" autocomplete="off" (click)="filtrarPorEstadoVisitante('ACTIVO')" >ACTIVAS
          </label>
        </div>
      </div>
     
      
      </div>
      <div class="card-body">
        <!-- table-wrapper-scroll-y my-custom-scrollbar -->
        <div class="table-responsive " >
          <table class="table" >
            <thead class=" text-primary">
              <th>
                Estado_Visitante
              </th>
              <th>
                Estado_Carnet
              </th>
              <th>
                N.Carnet
              </th>
              <th>
                Sede
              </th>
              <th>
                Nombre
              </th>
              <th>
                Cedula
              </th>
              <th>
                Visitar_a
              </th>
              <th>
                Hora_Visita
              </th>
              <th *ngIf="estadoVisitante=='FINALIZADA'">
                Hora_Salida
              </th>
              <th>
                Tipo_Visitante
              </th>
              <th>
                Motivo
              </th>
              <th>
                Foto
              </th>
            </thead>
            <tbody *ngIf="visitas.length>=1">
              <tr *ngFor="let visita of visitas | filtro:filtroPost| paginate: { itemsPerPage: 50, currentPage: p };let i = index">
                <td class="bg-success" *ngIf="visita.visitaESTADOVISITANTE==ACTIVO"  >
                <button  class="btn btn-success" (click)="ModalcambiarEstados(visita.visitaID,FINALIZADA,i,visita.visitaESTADOCARNET)" ><i class="nc-icon nc-tap-01 "></i> Cambiar Estado</button>
                </td>
                <td class="bg-danger" *ngIf="visita.visitaESTADOVISITANTE == FINALIZADA">
                   {{visita.visitaESTADOVISITANTE}}
                </td>
                <td class="bg-warning" *ngIf="visita.visitaESTADOCARNET==ENTREGADO"  >
                  {{visita.visitaESTADOCARNET}} 
                </td>
                <td class="bg-success" *ngIf="visita.visitaESTADOCARNET ==DEVUELTO">
                  {{visita.visitaESTADOCARNET}} 
                </td>
                <td class="bg-danger" *ngIf="visita.visitaESTADOCARNET == SIN_CARNET">
                  SIN CARNET
                </td>
                <td *ngIf="visita.visitaNUMCARNET || visita.visitaNUMCARNET!=null" >
                  {{visita.visitaNUMCARNET}}
                </td>
                <td *ngIf="!visita.visitaNUMCARNET || visita.visitaNUMCARNET==null" >
                  <i class="nc-icon nc-simple-remove "></i>
                </td>
                <td>
                  {{visita.sedeTITULO}}
                </td>
                <td>
                  {{visita.personaRAZONSOCIAL|titlecase}}
                </td>
                <td>
                  {{visita.personaIDENTIFICACION}}
                </td>
                <td>
                  {{visita.ColaboradorRAZONSOCIAL}}
                </td>
                <td>
                  {{visita.visitaFCHVISITA|date : 'h:mm a'}}
                </td>
                <td *ngIf="estadoVisitante=='FINALIZADA'">
                  {{visita.visitaFCHSALIDA|date:'h:mm a'}}
                </td>
                <td>
                  {{visita.visitaTIPO}}
                </td>
                <td *ngIf="visita.visitaMOTIVO">
                  <button (click)="motivo(visita.personaRAZONSOCIAL,visita.visitaMOTIVO)" class="btn btn-sm  btn-primary p-1" > <i class="nc-icon nc-single-copy-04 "></i></button>
                </td>
                 <td *ngIf="!visita.visitaMOTIVO" >
                  <i class="nc-icon nc-simple-remove "></i>
                 </td>
  
                <td *ngIf="visita.visitaFOTO">
                  <button (click)="foto(visita.personaRAZONSOCIAL,visita.visitaFOTO)" class="btn btn-sm btn-primary p-1" > <i class="nc-icon nc-single-02 "></i></button>
                </td>
                
                <td *ngIf="!visita.visitaFOTO" >
                  <i class="nc-icon nc-simple-remove "></i>
                </td>

              </tr>
            </tbody>

          </table>
          <pagination-controls *ngIf="visitas.length>=1  " (pageChange)="p = $event"></pagination-controls>
          <div *ngIf="visitas.length ==0 && !vacio" class=" w-100 ">
            <div class="sonar-wrapper">
              <div class="sonar-emitter">
                <div class="sonar-wave"></div>
              </div>
            </div>
          </div>
          <div *ngIf="visitas.length ==0 && vacio" class=" w-100  text-center">
                <h4>No hay campos en el momento</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>