<div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header text-center d-flex justify-content-center">
          <!-- <h4 class="card-title">Trabajadores</h4> -->

          <!-- <p class="card-category">descripcion</p> -->
          <div class="col-sm-5 my-1  d-flex justify-content-center">
            <input type="text" class="form-control" placeholder="Buscador" name="filtroPost" [(ngModel)]="filtroPost">
          </div>

        </div>
        <!-- <hr />
        <div class="row text-center d-flex justify-content-center">
            <div class="form-row">
                <div class="form-group" >
                <input type="date" class="form-control" value="2020-01-25" name="date"  [(ngModel)]="date">
                    <button (click)="filtraFecha()" class="btn  btn-primary" > <i class="nc-icon nc-zoom-split "></i></button>

                </div>
            </div>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Estado_Visitante
                </th>
                <th>
                  Estado_Carnet
                </th>
                <th>
                    Fecha_Programada
                </th>
                <th>
                  Sede
                </th>
                <th>
                  Visitante
                </th>
                <th>
                  Visitar_a
                </th>
                <th>
                  Autorizado_Por
                </th>

                <th>
                  Motivo
                </th>
              </thead>
              <tbody *ngIf="visitas.length>=1">
                <tr *ngFor="let visita of visitas | filtro:filtroPost| paginate: { itemsPerPage: 50, currentPage: p };let i = index">
                  <td class="bg-warning" *ngIf="visita.visitaESTADOVISITANTE==DESACTIVO"  >
                    <button  class="btn btn-warning" (click)="ModalcambiarEstados(visita.visitaID,ACTIVO,i,visita.personaID)" ><i class="nc-icon nc-tap-01 "></i>Activar</button>
                  </td>
                  <td *ngIf="visita.visitaESTADOCARNET == PENDIENTE">
                    {{visita.visitaESTADOCARNET}}
                 </td>
                  <td>
                    {{visita.visitaFCHPROGRAMADA}}
                  </td>
                  <td>
                    {{visita.sedeTITULO}}
                  </td>
                  <td>
                    {{visita.personaIDENTIFICACION}} - {{visita.personaRAZONSOCIAL|titlecase}}
                  </td>
                  <td>
                    {{visita.ColaboradorRAZONSOCIAL|titlecase}}
                  </td>
                  <td>
                    {{visita.visitaAUTORIZADAPOR|titlecase}}
                  </td>
                  <td *ngIf="visita.visitaMOTIVO">
                    <button (click)="motivo(visita.personaRAZONSOCIAL,visita.visitaMOTIVO)" class="btn btn-sm  btn-primary p-1" > <i class="nc-icon nc-single-copy-04 "></i></button>
                  </td>
                   <td *ngIf="!visita.visitaMOTIVO" >
                    <i class="nc-icon nc-simple-remove "></i>
                   </td>
                </tr>
              </tbody>

            </table>
            <pagination-controls *ngIf="visitas.length>=1  " (pageChange)="p = $event"></pagination-controls>
            <div *ngIf="visitas.length ==0 && !vacio" class=" w-100 ">
              <div class="sonar-wrapper">
                <div class="sonar-emitter">
                  <div class="sonar-wave"></div>
                </div>
              </div>
            </div>
            <div *ngIf="visitas.length ==0 && vacio" class=" w-100  text-center">
                  <h4>No hay campos en el momento</h4>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
